[submodule "Drivers/mh-z14a_sm"]
	path = Drivers/mh-z14a_sm
	url = https://github.com/bazhen-paseka/mh-z14a_sm.git
[submodule "Drivers/lcd1602_fc113_sm"]
	path = Drivers/lcd1602_fc113_sm
	url = https://github.com/bazhen-paseka/lcd1602_fc113_sm.git
[submodule "Drivers/ringbuffer_dma_sm"]
	path = Drivers/ringbuffer_dma_sm
	url = https://github.com/bazhen-paseka/ringbuffer_dma_sm.git
[submodule "Drivers/average_calc_3_from_5"]
	path = Drivers/average_calc_3_from_5
	url = https://github.com/bazhen-paseka/average_calc_3_from_5.git
[submodule "Drivers/One-pin-debug-SM"]
	path = Drivers/One-pin-debug-SM
	url = https://github.com/bazhen-paseka/One-pin-debug-SM.git
